<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<include resource="org/springframework/boot/logging/logback/defaults.xml"/>-->

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <!-- 异常前后加换行 -->
    <conversionRule conversionWord="wt"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <!-- 异常&jar包信息前后加换行 -->
    <conversionRule conversionWord="wet"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <!-- 官方文档：https://logback.qos.ch/manual/layouts.html#ClassicPatternLayout -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%date{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5level) %clr(%32mdc{tid}){faint} %clr([%15.15thread]){faint} %clr(%-39.39logger{39}){cyan} %clr(:){faint} %msg%n%wet"/>
    <property name="CONSOLE_LOG_CHARSET" value="${file.encoding:-UTF-8}"/>
    <property name="FILE_LOG_PATTERN"
              value="%date{yyyy-MM-dd HH:mm:ss.SSS} %5level %mdc{tid} [%thread] %logger{39} : %msg%n%throwable{full}"/>
    <property name="FILE_LOG_CHARSET" value="${file.encoding:-UTF-8}"/>

    <property name="BLANK_LOG_PATTERN" value="%msg%n"/>

    <property name="APP_NAME" value="blog"/>
    <property name="LOG_PATH" value="${user.home}/${APP_NAME}/logs"/>
    <property name="APPLICATION_LOG_FILE" value="${LOG_PATH}/application.log"/>
    <property name="TRACE_MONITOR_LOG_FILE" value="${LOG_PATH}/trace-monitor.log"/>
    <property name="HTTP_TRACE_MONITOR_LOG_FILE" value="${LOG_PATH}/http-trace-monitor.log"/>
    <property name="EVENT_BUS_LOG_FILE" value="${LOG_PATH}/eventbus.log"/>
    <property name="MESSAGE_QUEUE_LOG_FILE" value="${LOG_PATH}/message-queue.log"/>
    <property name="BIZ_MONITOR_LOG_FILE" value="${LOG_PATH}/biz-monitor.log"/>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="APPLICATION"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APPLICATION_LOG_FILE}</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${APPLICATION_LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="BIZ_MONITOR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${BIZ_MONITOR_LOG_FILE}</file>
        <encoder>
            <pattern>${BLANK_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${BIZ_MONITOR_LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name="TRACE_MONITOR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${TRACE_MONITOR_LOG_FILE}</file>
        <encoder>
            <pattern>${BLANK_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${TRACE_MONITOR_LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name="HTTP_TRACE_MONITOR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HTTP_TRACE_MONITOR_LOG_FILE}</file>
        <encoder>
            <pattern>${BLANK_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${HTTP_TRACE_MONITOR_LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="EVENT_BUS"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${EVENT_BUS_LOG_FILE}</file>
        <encoder>
            <pattern>${BLANK_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${EVENT_BUS_LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name="MESSAGE_QUEUE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${MESSAGE_QUEUE_LOG_FILE}</file>
        <encoder>
            <pattern>${BLANK_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${MESSAGE_QUEUE_LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>


    <logger name="BizMonitorLogger" level="INFO" additivity="false">
        <appender-ref ref="BIZ_MONITOR"/>
    </logger>
    <logger name="TraceMonitorLog" level="INFO" additivity="false">
        <appender-ref ref="TRACE_MONITOR"/>
    </logger>
    <logger name="HttpTraceMonitorLog" level="INFO" additivity="false">
        <appender-ref ref="HTTP_TRACE_MONITOR"/>
    </logger>
    <logger name="EventBusLogger" level="INFO" additivity="false">
        <appender-ref ref="EVENT_BUS"/>
    </logger>
    <logger name="MessageQueueLogger" level="INFO" additivity="false">
        <appender-ref ref="MESSAGE_QUEUE"/>
    </logger>
    <logger name="MessageQueueLogger" level="INFO" additivity="false">
        <appender-ref ref="MESSAGE_QUEUE"/>
    </logger>

    <logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR"/>
    <logger name="org.apache.catalina.util.LifecycleBase" level="ERROR"/>
    <logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN"/>
    <logger name="org.apache.sshd.common.util.SecurityUtils" level="WARN"/>
    <logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN"/>
    <logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR"/>
    <logger name="org.hibernate.validator.internal.util.Version" level="WARN"/>
    <logger name="org.springframework.boot.actuate.endpoint.jmx" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APPLICATION"/>
    </root>
</configuration>